<ul>
  <% @posts.each do |post| %>
    <li>
        <%= post.shoe_name %>
        <%= post.shoe_photo %>
        <%= post.fan_message %>
        <%= link_to "Edit Post", edit_fan_post_path(post.fan_id, post) %>
      </a>
    </li>
  <% end %>
</ul>
