<h2>Posts</h2>
<%= link_to "New Post", new_fan_post_path %>

<ul>
  <% @fan.posts.each do |post| %>

    <li>
      <a href="fans/<%= fan.id %>/posts/<%= post.id %>">
        <%= post.name %>
      </a>
    </li>
  <% end %>
</ul>
