<h2>Welcome To Tinker's World</h2>
<h4>Share your favorite shoe designs from Tinker Hatfield</h4>
<ul>
  <% @posts.each do |post| %>
    <li>
        <%= post.shoe_name %>
        <%= post.shoe_photo %>
        <%= post.fan_message %>
        <br>
        <%= link_to "Edit Post", edit_fan_post_path(post.fan_id, post) %>
      </a>
    </li>
  <% end %>
</ul>
