a.nav-button{
  margin: 10px 0px 0px 12px;
  outline-color: #000;
}

a {
  font-size: 12px;
  color: #FF6600;
  text-decoration: none;
}

p {
  text-align: left;
  font-family: sans-serif;
  font-size: 19px;
  font-weight: bold;
  margin: 5px 20px 0px 40px;
  color: #333333;
}

body {
  margin: auto 0;
}

body p {
  margin: 0px 10px 10px 40px;
}

body h2 {
  background-color: white;
  height:auto;
}

h2 {
  text-align: left;
  font-family: sans-serif;
  font-size: 50px;
  margin: -50px 30px 0px 40px;
  color: #FF6600;
}

h3 {
  text-align: left;
  font-family: sans-serif;
  font-size: 30px;
  margin: 2px 20px;
}

h4 {
  text-align:center;
  font-family: sans-serif;
}

footer.a {
  color: #FFF
}

footer {
  font-size: 12px;
  font-family: sans-serif;
  text-align: center;
  padding: 5px;
  margin: 18px;
  width: 100%;
}

style for textarea {
  text-align: center;
  position: relative;
  left: 10px;
  font-size: 20px;
  margin: auto 0;
  font-family: sans-serif;
}

/*Navigation Button Style*/
.nav-button {
  -moz-box-shadow: inset 0px 1px 0px 0px #FF6600;
  -webkit-box-shadow: inset 0px 1px 0px 0px #FF6600;
  box-shadow: inset 0px 1px 0px 0px #FF6600;
  background-color: #FF6600;
  border: 1px solid #FF6600;
  display: inline-block;
  cursor: pointer;
  color: #FFFFFF;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  padding: 10px 20px;
  text-align: center;
  margin: -10px 0px 20px 20px;
  text-transform: uppercase;
}

/*Form Style*/
.form-style {
  font-family: 'Open Sans Condensed', arial, sans;
  width: 80%;
  padding: 30px;
  background: #FFF;
  margin: 0px 20px 0px 15px;
}

.form-group {
  padding-bottom: 30px;
}

.shoe-wrapper {
  padding-top: 18px;
}

.new_post h2 {
  text-transform: uppercase;
  font-family: sans-serif;
  color: #797979;
  font-size: 18px;
  font-weight: 100;
  padding: 20px;
  margin: -30px -30px 30px -20px;
}

.input-style {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin: 0px 0px 10px 0px;
  font: 16px Arial, Helvetica, sans-serif;
  height: 45px;
}

.form-button-style {
  -moz-box-shadow: inset 0px 1px 0px 0px #FF6600;
  -webkit-box-shadow: inset 0px 1px 0px 0px #FF6600;
  box-shadow: inset 0px 1px 0px 0px #FF6600;
  background-color: #FF6600;
  border: 1px solid #FF6600;
  display: inline-block;
  cursor: pointer;
  color: #FFFFFF;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  padding: 30px 100px;
  text-align: center;
  text-transform: uppercase;
}

.form-button-style:hover {
  background:linear-gradient(to bottom, #FF5500 5%, #FF5500 100%);
  background-color:#FF6600;
}

.login-info a {
  -moz-box-shadow: inset 0px 1px 0px 0px #FF6600;
  -webkit-box-shadow: inset 0px 1px 0px 0px #FF6600;
  box-shadow: inset 0px 1px 0px 0px #FF6600;
  background-color: #FF6600;
  border: 1px solid #FF6600;
  display: inline-block;
  cursor: pointer;
  color: #FFFFFF;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
}

/*Log In Style*/
.login-info {
  font-family: sans-serif;
  display: block;
  text-align: right;
  margin: auto 0;
  padding: 10px 10px 70px 0px;
  color: #FF6600;
}

.img {
  width: 100%;
  background-size: cover;
  z-index: 1;
}

.img img {
  width: 50%;
  background-size: cover;
  z-index: 1;
}

.shoe-container {
  display: inline-block;
  position:relative;
  overflow: hidden;
  margin-right:-3px;
  margin-bottom:-3px;
  width: 360px;
  height: 360px;
}

.shoe-photo-resize:hover {
  transform: scale(2,2)
}

.shoe-photo-resize {
  float: left;
  height:100%;
  background-position: center;
  background-repeat:   no-repeat;
  background-size: cover;
  transform: translateX(-50);
}

.shoe-details {
  color: rgba(255,255,255,1);
  background: black;
  opacity: 0.7;
  filter: alpha(opacity=50);
  padding: 10px 0px 10px;
  line-height: 28px;
  text-align: center;
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
  transition: height .5s;
  -webkit-transition: height .5s;
  -moz-transition: height .5s;
}

.shoe-wrapper {
  margin: auto 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.img {
  position: absolute;
  width: 100%;
}

.fanmessage {
  font-weight: bold;
}

/*Fan Profile Style*/

.profile-photo {
  margin: -30px 0px 0px 0px;
}

.profile-photo img {
  border-radius: 50%;
  float: left;
  outline-color: red;
  width:128px;
  margin: 10px 0px 0px 20px;
  border:10px solid #FF6600;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
}

.fan-info {
  margin: 0px 0px 0px 170px;
  padding-bottom: 100px;
}

.fan-info h2 h3 {
  float: right;
  margin: 0px 0px 1px 11px;
}

.new-post-box {
  /*float: left;*/
  background-repeat:   no-repeat;
  background-size: cover;
  background-color: #FF6600;
  font-size: 50px;
  font-family: sans-serif;
  margin: -30px 0px -17px 0px;
  padding: 10px 10px 10px 20px;
  /*text: center;*/
  color: #FFF;
}

.new-post-box:hover {
  background:linear-gradient(to bottom, #FF5500 5%, #FF5500 100%);
  background-color:#FF6600;
}

.devise-links {
  padding-top: 20px;
}

.container {
  padding-top: 20px;
}

#shoe-post-name {
  padding: 50px;
}
