/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

p {
  text-align: left;
  font-family: sans-serif;
}

h2 {
  text-align: left;
  font-family: sans-serif;
}

h3 {
  text-align: left;
  font-family: sans-serif;
}

h4 {
  text-align:center;
  font-family: sans-serif;
}

style for textarea {
  text-align: center;
  position: relative;
  left: 10px;
  font-size: 20px;
  margin: auto 0;
  font-family: sans-serif;
}

.shoe_container {
  display: inline-block;
  position:relative;
  margin-right:-3px;
  margin-bottom:-17px;
}

.shoe_details {
  color: rgba(255,255,255,1);
  background: black;
  background: linear-gradient(bottom, rgba(180,180,180,1), rgba(0,0,0,.2));
  background: -webkit-linear-gradient(bottom, rgba(180,180,180,1), rgba(0,0,0,.2));
  background: -moz-linear-gradient(bottom, rgba(180,180,180,1), rgba(0,0,0,.2));
  padding: 10px 0px 10px;
  line-height: 28px;
  text-align: center;
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
  transition: height .5s;
  -webkit-transition: height .5s;
  -moz-transition: height .5s;
}

.img {
  position: absolute;
  width: 100%;
}

.shoe_photo_resize {
  /*position: absolute;*/
  float: left;
  /*overflow: hidden;*/
  width:  400px;
  height: 400px;
  /*background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size: cover;*/
}

.fanmessage {
  font-weight: bold;
}


/*post.shoe_name {
  text-align: left;
  font-family: sans-serif;
  margin: auto;
}*/

/*li {
  text-align: center;
  font-family: sans-serif;
}*/
