/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*body {
  background-color: #FF6600
}*/
a {
  font-size: 12px;
  color: #FF6600;
  text-decoration: none;
}
body {
  margin: 0;
}

p {
  text-align: left;
  font-family: sans-serif;
  font-size: 19px;
  font-weight: bold;
  margin: 5px 20px 0px 40px;
  color: #333333;
}

h2 {
  text-align: left;
  font-family: sans-serif;
  font-size: 50px;
  margin: 0px 40px 20px;
  color: #FF6600;
}

h3 {
  text-align: left;
  font-family: sans-serif;
  font-size: 30px;
  margin: 2px 20px;
}

h4 {
  text-align:center;
  font-family: sans-serif;
}

footer.a {
  color: #FFF
}

footer {
  font-size: 12px;
  font-family: sans-serif;
  text-align: center;
  background-color: #000;
  padding: 5px;
}

style for textarea {
  text-align: center;
  position: relative;
  left: 10px;
  font-size: 20px;
  margin: auto 0;
  font-family: sans-serif;
}

/*Navigation Button Style*/
.navbutton {
-moz-box-shadow: inset 0px 1px 0px 0px #FF6600;
-webkit-box-shadow: inset 0px 1px 0px 0px #FF6600;
box-shadow: inset 0px 1px 0px 0px #FF6600;
background-color: #FF6600;
border: 1px solid #FF6600;
display: inline-block;
cursor: pointer;
color: #FFFFFF;
font-family: 'Open Sans Condensed', sans-serif;
font-size: 14px;
padding: 10px 20px;
/*width: 80px;*/
text-align: center;
margin: -10px 0px 20px 20px;
/*text-decoration: none;*/
text-transform: uppercase;
}
/*Form Style*/
.new_post, .edit_fan {
      font-family: 'Open Sans Condensed', arial, sans;
  width: 80%;
  padding: 30px;
  background: #FFF;
  margin: 0px 20px 0px 15px;
  /*box-shadow: 0px 0px 1px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 1px rgba(0,0,0,1);
  -webkit-box-shadow: 0px 0px 1px rgba(0,0,0,1);*/
}

.new_post h2 {
  /*background: #4D4D4D;*/
  text-transform: uppercase;
  font-family: sans-serif;
  color: #797979;
  font-size: 18px;
  font-weight: 100;
  padding: 20px;
  margin: -30px -30px 30px -20px;
}

.inputstyle {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin: 0px 0px 10px 0px;
  font: 16px Arial, Helvetica, sans-serif;
  height: 45px;
}

.formbuttonstyle {
  -moz-box-shadow: inset 0px 1px 0px 0px #FF6600;
  -webkit-box-shadow: inset 0px 1px 0px 0px #FF6600;
  box-shadow: inset 0px 1px 0px 0px #FF6600;
  background-color: #FF6600;
  border: 1px solid #FF6600;
  display: inline-block;
  cursor: pointer;
  color: #FFFFFF;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  padding: 30px 100px;
  /*width: 80px;*/
  text-align: center;
  /*text-decoration: none;*/
  text-transform: uppercase;
}

.formbuttonstyle:hover {
  background:linear-gradient(to bottom, #FF5500 5%, #FF5500 100%);
  background-color:#FF6600;
}

/*Log In Style*/
.login_info {
  font-family: sans-serif;
  display: block;
  text-align: right;
  margin: auto 0;
  padding: 10px;
  text-decoration: none;
  color: #FF6600;
}
.img {
  width: 100%;
  background-size: 100% 100%;
  z-index: 0;
}

.shoe_container {
  display: inline-block;
  position:relative;
  overflow: hidden;
  margin-right:-3px;
  margin-bottom:-21px;
  width: 360px;
  height: 360px;

/*UTILIZE FLEXBOX */
  /*@media screen and (max-width: 600px){
  main {
    flex-direction: column;
  }

  section {
    order: 1;
  }
}*/

}

.shoe_photo_resize:hover {
  transform: scale(2,2)
}

.shoe_photo_resize {
  float: left;
  height:100%;
  background-position: center;
  background-repeat:   no-repeat;
  background-size: cover;
  @include translateX(-50)
}

.shoe_details {
  color: rgba(255,255,255,1);
  background: black;
  opacity: 0.7;
  filter: alpha(opacity=50);
  padding: 10px 0px 10px;
  line-height: 28px;
  text-align: center;
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
  transition: height .5s;
  -webkit-transition: height .5s;
  -moz-transition: height .5s;
}

.img {
  position: absolute;
  width: 100%;
}

.fanmessage {
  font-weight: bold;
}

/*Fan Profile Style*/
.profilephoto img {
  border-radius: 50%;
  float: left;
  outline-color: red;
  width:128px;
  margin: 10px 0px 0px 20px;
  border:10px solid #FF6600;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
}

.faninfo {
  margin: 0px 0px 0px 170px;
}

.faninfo h2 h3 {
  float: right;
}

.faninfo h2 {
  margin: 0px 0px 1px 11px;
}

.faninfo h3 {
  margin: 0px 0px 1px 12px;
}

.fullwidthpixel {
  margin: 1px;
  padding: .5px;
  background: #E7E7E7;
}

/*.fullwidthpixelhomepage {
  margin: 0px;
  padding: .5px;
  background: #E7E7E7;
}*/

.newpostbox {
  /*float: left;*/
  background-repeat:   no-repeat;
  background-size: cover;
  background-color: #FF6600;
  font-size: 50px;
  font-family: sans-serif;
  margin: -1px 0px 0px 0px;
  padding: 10px 10px 10px 20px;
  /*text: center;*/
  color: #FFF;
}

/*.newpostcontainer {
  width: 360px;
  height: 360px;
  float:left;
}*/

/*img.shoe_photo_resize {
  float:left;
}*/



/*post.shoe_name {
  text-align: left;
  font-family: sans-serif;
  margin: auto;
}*/

/*li {
  text-align: center;
  font-family: sans-serif;
}*/

/*.posthistory {
  float: left;
  height:100%;
  padding: 50px;
  width: 40px;
  height: 40px;
  outline: #FF6600 solid;
  text-align: center;
  margin: 6px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size: cover;
  @include translateX(-50)
  font-weight: bold;*/
  /*line-height: 28px;*/
  /*transition: height .5s;*/
  /*-webkit-transition: height .5s;*/
  /*-moz-transition: height .5s;*/
/*}*/

/*@import "compass/css3"*/

/*.shoe_photo_resize {
  float: left;*/
  /*height:100%;*/
  /*background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size: cover;*/
  /*@include translateX(-50%)
  max-height:100%;

  @media(min-width: 800px) {
    top: 50%;
    left: 0;
    max-height: none;
    width: 100%;
    @include translateY(-50%);
  }*/
/*}*/
