/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*body {
  background-color: #FF6600
}*/
a {
  font-size: 12px;
  color: #FF6600;
  text-decoration: none;
}
body {
  margin: 0;
}

p {
  text-align: left;
  font-family: sans-serif;
  font-size: 19px;
  font-weight: bold;
  margin: 5px 20px;
  color: #333333;
}

h2 {
  text-align: left;
  font-family: sans-serif;
  font-size: 50px;
  margin: 2px 20px;
  color: #FF6600;
}

h3 {
  text-align: left;
  font-family: sans-serif;
  font-size: 30px;
  margin: 2px 20px;
}

h4 {
  text-align:center;
  font-family: sans-serif;
}

footer.a {
  color: #FFF
}

footer {
  font-size: 12px;
  font-family: sans-serif;
  text-align: center;
  background-color: #000;
  padding: 5px;
}

style for textarea {
  text-align: center;
  position: relative;
  left: 10px;
  font-size: 20px;
  margin: auto 0;
  font-family: sans-serif;
}

.login_info {
  font-family: sans-serif;
  display: block;
  text-align: right;
  margin: auto 0;
  padding: 10px;
  text-decoration: none;
  color: #FF6600;
}
.img {
  width: 100%;
  background-size: 100% 100%;
  z-index: 0;
}

.shoe_container {
  display: inline-block;
  position:relative;
  overflow: hidden;
  margin-right:-3px;
  margin-bottom:-21px;
  width: 360px;
  height: 360px;
}

.shoe_photo_resize:hover {
  transform: scale(2,2)
}

.shoe_photo_resize {
  float: left;
  height:100%;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size: cover;
  @include translateX(-50)
}

/*@import "compass/css3"*/

/*.shoe_photo_resize {
  float: left;*/
  /*height:100%;*/
  /*background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size: cover;*/
  /*@include translateX(-50%)
  max-height:100%;

  @media(min-width: 800px) {
    top: 50%;
    left: 0;
    max-height: none;
    width: 100%;
    @include translateY(-50%);
  }*/
/*}*/

.shoe_details {
  color: rgba(255,255,255,1);
  background: black;
  opacity: 0.7;
  filter: alpha(opacity=50);
  /*background: linear-gradient(bottom, rgba(180,180,180,1), rgba(0,0,0,.2));
  background: -webkit-linear-gradient(bottom, rgba(180,180,180,1), rgba(0,0,0,.2));
  background: -moz-linear-gradient(bottom, rgba(180,180,180,1), rgba(0,0,0,.2));*/
  padding: 10px 0px 10px;
  line-height: 28px;
  text-align: center;
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
  transition: height .5s;
  -webkit-transition: height .5s;
  -moz-transition: height .5s;
}

.img {
  position: absolute;
  width: 100%;
}

.fanmessage {
  font-weight: bold;
}


/*post.shoe_name {
  text-align: left;
  font-family: sans-serif;
  margin: auto;
}*/

/*li {
  text-align: center;
  font-family: sans-serif;
}*/
